# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
runs_forge
runs_data_forge
runs_neoforge
runs_data_neoforge

# generator input/output
generator/input/
generator/output/

# Files from Forge MDK
forge*changelog.txt

/src/generated/resources/.cache/
